{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% if not debug %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179436238-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-179436238-1');
    </script>
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Leave feedback for this site.">

    <title>Bass Trombone Specs - Feedback</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    
    {% if not debug %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
      function onSubmit(token) {
        document.getElementById("form").submit();
      }
    </script>
    {% endif %}

  </head>
  
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'specs:index' %}">Bass Trombone Specs</a>
    </nav>

    <main role="main" class="container" style="padding-top: 1.5rem; padding-bottom: 0.5rem;">
      
      <h4>
        Submit feedback
      </h4>
      <form method="POST" id='form'>
        {% csrf_token %}
        <div class="form-group">
          <label for="feedbackTextarea">
            You can leave any kind of feedback here -- it can be an error (perhaps you noticed a spec is incorrect or maybe you noticed the filter is incorrectly filtering out an entry) or it can be a comment (maybe there's a brand that's not currently in the table that you'd like to see added).
            Whatever it is, feel free to leave it here.
          </label>
          <textarea class="form-control" id="feedbackTextarea" rows="4" name="feedback"></textarea>
        </div>
        <button class="btn btn-dark {% if not debug %}g-recaptcha{% endif %}" type="submit" {% if not debug %}data-sitekey="{{ recaptcha_site_key }}" data-callback='onSubmit'{% endif %}>
          Submit
        </button>
      </form>

    </main>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
